---
import { Icon } from '@astrojs/starlight/components';
import Pagination from '@astrojs/starlight/components/Pagination.astro';
import config from 'virtual:starlight/user-config';
---

<footer class="sl-flex">
	<Pagination />

	{
		config.credits && (
			<a class="kudos sl-flex" href="https://starlight.astro.build">
				<Icon name={'starlight'} /> {Astro.locals.t('builtWithStarlight.label')}
			</a>
		)
	}
</footer>

<style>
	@layer starlight.core {
		footer {
			flex-direction: column;
			gap: 1.5rem;
		}

		.kudos {
			align-items: center;
			gap: 0.5em;
			margin: 1.5rem auto;
			font-size: var(--sl-text-xs);
			text-decoration: none;
			color: var(--sl-color-gray-3);
		}

		.kudos:hover {
			color: var(--sl-color-white);
		}
	}

	@layer starlight.components {
		.kudos :global(svg) {
			color: var(--sl-color-orange);
		}
	}
</style>
